body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ----------------- Card details ----------------- */
#card-details-container{
    padding: 20px;
    height: 100vh;
    background-color: #15172b;
    color: var(--clr-white);
}

#details-card {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

#details-card .image {
    border-radius: 8px;
    text-align: center;
    max-width: 300px;
}

#details-card img {
    height: auto;
    max-width: 80%;
}

#details-card .info {
    padding: 10px;
}
/* ----------------- Card details end ----------------- */

/* ----------------- User details ----------------- */
#user-details-main{
    display: flex;
    width: 100%;
    margin: auto;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

#card-list-container {
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 1045px; /* Set a max-width for the container */
    align-items: center;
    padding: 20px;
}

#card-list-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0; /* Add some margin at the top for separation */
    max-width: 520px;
    height: 320px;
    overflow-x: auto;
    overflow-x: hidden;
    border: 5px solid var(--clr-main);
    border-radius: 10px;
    background-color: var(--clr-white);
    padding: 15px;
}

.pokemon-card-details {
    border-radius: 8px;
    box-shadow: 1px 15px 23px -11px rgba(0,0,0,0.5);
    -webkit-box-shadow: 1px 15px 23px -11px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 15px 23px -11px rgba(0,0,0,0.5);
    text-align: center;
    width: 150px;
    background-color: var(--clr-white);
    margin: 0 5px 10px 5px;
}

.pokemon-card-details .image {
    border-radius: 8px 8px 0 0;
}

.pokemon-card-details img {
    height: auto;
    max-width: 80%;
}

.pokemon-card-details .details {
    padding: 10px;
}

.pokemon-card-details h2 {
    font-size: 18px;
    margin-top: 5px;
}

.pokemon-card-details h2 a {
    color: inherit;
    text-decoration: none;
    transition: 0.2s;
}

.pokemon-card-details h2 a:hover {
    color: var(--clr-highlight);
}

.pokemon-card-details .buy {
    background-color: var(--clr-main);
    border-radius: 0 0 8px 8px;
    color: var(--clr-white);
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    transition: 0.2s;
}

.pokemon-card-details a{
    text-decoration: none;
    color: var(--clr-white);
}

.pokemon-card-details .buy:hover {
    background-color: var(--clr-highlight);
    margin-top: -5px;
    padding-bottom: 15px;
}

#user-details {
    background-color: var(--clr-main);
    border-radius: 8px;
    box-shadow: 1px 15px 23px -11px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 15px 23px -11px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 15px 23px -11px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 50px 50px 50px 50px;
    text-align: left;
    align-items: center;
    color: var(--clr-white);
}

#user-details p {
    margin: 1px;
    font-size: 18px;
    color: var(--clr-white);
    font-weight: bold;
}

.row{
    display: flex;
    flex-direction: row;
}

.first-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
}

.second-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-slots{
    display: flex;
    justify-content: space-around;
}

#buyslot, #sellslot{
    border: 1px solid var(--clr-white);
    border-radius: 8px;
    padding: 5px;
    text-decoration: none;
    color: var(--clr-white);
    font-size: 20px;
}

#buyslot:hover, #sellslot:hover{
    background-color: var(--clr-highlight);
}

#sellslot{
    margin-left: 5px;
}