:root {
    --clr-main: #517d81;
    --clr-secondary: #7a8174;
    --clr-highlight: #008C95;
    --clr-light: #d3d8de;
    --clr-dark: #1d2530;
    --clr-white: #f0f0f0;

    --poke-clr-normal: linear-gradient(#c5c5a1, #a4a484);
    --poke-clr-fire: linear-gradient(#e96933, #d05e2e);
    --poke-clr-water: linear-gradient(#6188a1, #54778c);
    --poke-clr-electric: linear-gradient(#f5f583, #d7d773);
    --poke-clr-grass: linear-gradient(#87cf87, #76b376);
    --poke-clr-ice: linear-gradient(#7ce1e1, #6ec9c9);
    --poke-clr-fighting: linear-gradient(#db93db, #bf81bf);
    --poke-clr-poison: linear-gradient(#844784, #6a396a);
    --poke-clr-ground: linear-gradient(#776043, #5d4b35);
    --poke-clr-psychic: linear-gradient(#c04f8b, #a74479);
    --poke-clr-bug: linear-gradient(#c19748, #ab8540);
    --poke-clr-rock: linear-gradient(#9e4646, #883c3c);
    --poke-clr-ghost: linear-gradient(#57576d, #3e3e4e);
    --poke-clr-dark: linear-gradient(#1f1f1f, #000000);
    --poke-clr-steel: linear-gradient(#c5c5c5, #a2a2a2);
    --poke-clr-fairy: linear-gradient(#fdb9e9, #ffaee7);
    --poke-clr-dragon: linear-gradient(#f16e57, #e7553b);
}

.clr-normal { background-image: var(--poke-clr-normal); }
.clr-fire { background-image: var(--poke-clr-fire); }
.clr-water { background-image: var(--poke-clr-water); }
.clr-electric { background-image: var(--poke-clr-electric); }
.clr-grass { background-image: var(--poke-clr-grass); }
.clr-ice { background-image: var(--poke-clr-ice); }
.clr-fighting { background-image: var(--poke-clr-fighting); }
.clr-poison { background-image: var(--poke-clr-poison); }
.clr-ground { background-image: var(--poke-clr-ground); }
.clr-psychic { background-image: var(--poke-clr-psychic); }
.clr-bug { background-image: var(--poke-clr-bug); }
.clr-fairy { background-image: var(--poke-clr-fairy); }
.clr-rock { background-image: var(--poke-clr-rock); }
.clr-ghost { background-image: var(--poke-clr-ghost); }
.clr-dark { background-image: var(--poke-clr-dark); }
.clr-steel { background-image: var(--poke-clr-steel); }
.clr-dragon { background-image: var(--poke-clr-dragon); }

body {
    background-color: var(--clr-white);
    color: var(--clr-dark);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #15172b;
}

#content {
    margin: 0 auto;
    min-width: 70%;
    min-height: 80vh;
    padding: 10px;
}

@media (min-width: 850px) and (max-width: 1500px) {
    #content {
        margin: 0 auto;
        max-width: 70%;
    }
}

@media (min-width: 1501px) {
    #content {
        margin: 0 auto;
        max-width: 50%;
    }
}

@media (max-width: 1200px) {
    .header-user{   
        top: 85px;
    }
}

.icon {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Android Emoji", "EmojiSymbols", sans-serif;
}

h1 {
    color: var(--clr-white);
}

h2, h3 {
    color: var(--clr-main);
}

header {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px;
}

header h1 a{
    display: inline-block;
    position: relative;
    color: var(--clr-white);
    text-decoration: none;
}

header h1 a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 2px;
    left: 0;
    background-color: var(--clr-white);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
  
header h1 a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

footer {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: 10px;
    text-align: center;
}

.error{
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/* ----------------- Type selector ----------------- */
.filter-form{
    color: #f0f0f0;
    height: 40px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
}

.filter-label{
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

select{
    background-color: #f0f0f0;
    color: #517d81;
    height: 25px;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 5px;
}

select option{
    background-color: #517d81;
    color: #f0f0f0;
}

select:hover{
    opacity: 0.8;
}

.filter-button{
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 0;
    color: #517d81;
    cursor: pointer;
    font-size: 18px;
    height: 25px;
    text-align: center;
}

.filter-button:hover {
    opacity: 0.8;
}

/* ----------------- Address ----------------- */
.container-address{
    max-width: 80vh;
    justify-content: space-around;
    margin: auto;
    text-align: justify;
    color: var(--clr-white);
}

.container-address h2{
    color: var(--clr-highlight)
}

/* ----------------- Address ----------------- */
.header-user{
    position: absolute;
    right: 0;
    border: 1px solid var(--clr-white);
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
    max-width: 300px;
    font-size: 25px;    
    background-color: var(--clr-main);
    color: var(--clr-white);
}
